<div class="container m-3">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
            <h3>Vista previa de encuesta </h3>
        </div>
        <div class="col-md-6 text-right">
          <button [routerLink]="['/misencuestas']" type="button" class="btn">
              Regresar
            </button>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div id="surveyElement"> 
          <div id="surveyResult">
          </div>
      </div>
    </div>
  </div>
</div>
<!-- survey-container contentcontainer codecontainer panel svd_content -->