<div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 card">
                    <div class="form-group col-sm-6">                    
                        <div class="col-sm-10">
                            <div class="col-sm-10">
                                <label>Ingrese un título para su encuesta: </label>
                                <input type="text" class="form-control border-input" required placeholder="Título Encuesta" [(ngModel)]="titulo"> 
                            </div>
                            <div >
                                <a  class="col-sm-2 ti-help-alt" href="http://nurvey.sytes.net:5000/doku.php?id=editor" target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div id="surveyEditorContainer"></div>
        </div>
    </div>