body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));
}

.panel-heading {
    padding: 50px 15px;
}

.panel-footer {
	padding: 1px 7px;
	color: #A0A0A0;
	text-align: left;
	background-color: initial;
	font-size: 11px;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}