<div class="container" style="margin-top:40px">
  <div class="row">
     <div class="col-sm-6 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
        <h1 class="form-group text-center">Registro</h1>
        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

          <div class="form-group" [ngClass]="{'has-error': (!name.valid && name.touched), 'has-success': (name.valid && name.touched)}">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
              <input [formControl]="name" type="text" class="form-control name-user" 
              placeholder="Nombre" name="nombreUsuario" [(ngModel)]="model.nombreUsuario" required/>
            </div>
              <div *ngIf="f.submitted && !name.valid" class="help-block">Nombre requerido</div>
            </div>

            <div class="form-group" [ngClass]="{'has-error': (!email.valid && email.touched), 'has-success': (email.valid && email.touched)}">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                <input [formControl]="email" type="email" class="form-control" id="inputEmail3" placeholder="Email"
                name="emailUsuario" [(ngModel)]="model.emailUsuario" required/>
              </div>
              <div *ngIf="f.submitted && !email.valid" class="help-block">Email requerido</div>
            </div>

          <div class="form-group" [ngClass]="{ 'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
              <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>  
            <input [formControl]="password" type="password" class="form-control password-user" 
            placeholder="Contraseña" name="passwordUsuario" [(ngModel)]="model.passwordUsuario" required />
            </div>  
              <div *ngIf="f.submitted && !password.valid" class="help-block">Contraseña requerida</div>
            </div>

              <div class="form-group" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                  <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input [formControl]="repeatPassword" type="password" class="form-control password-user" id="inputPassword4" placeholder="Repetir Contraseña" required />
                  </div>
                  <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Contraseñas no coincidentes.</span>
                </div>

          <div class="form-group">
              <button [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block">Aceptar</button>
              <div class="panel-footer ">
                  Ya tiene cuenta en Nurvey? <a [routerLink]="['/login']" onClick=""> Ingresar! </a>
                </div>
                <app-toast *ngIf="muestraMensajeToast" [mensaje]="mensajeToast"></app-toast>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>

