    <div class="home m-1">
    <div class="container-fluid">   
        <div class="row">
                <div class="col-md-8">
                    <div class="form-group animated fadeIn">
                        <div class="header">
                            <div class="row">
                                <div class="col-md-12">
                                    <app-alert *ngIf="alert" [mensaje]="mensajeAlert" [estilo]="estiloAlert" class="m-5"></app-alert>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="title">Opciones de búsqueda <a  class="col-sm-6 far fa-question-circle fa-2px" href="http://nurvey.sytes.net:5000/doku.php?id=estadisticas" target="_blank"></a></h5>
                                </div>
                            </div>
                        </div>  
                        <div class="row" > 
                            <div class="col-md-6">
                                <select id="selectorEncuesta" class="listaEncuestas form-control" aria-haspopup="true" aria-expanded="false">                            
                                    <option value="">Seleccione una encuesta</option>
                                    <option *ngFor="let encuesta of surveyService.encuestas"  value="{{encuesta.idEncuesta}}" class="dropdown-item" id="selectorOpcion">        
                                            {{encuesta.tituloEncuesta}}            
                                    </option>
                                </select>
                            </div>
                                <div class="col-md-6">
                                    <button (click)="seleccionarEncuesta()" data-dismiss="alert" class="btn btn-outline-primary">Seleccionar</button>
                                </div>
                                <div class="col-md-12">
                                    <app-loading *ngIf="loading" class="text-center"></app-loading> 
                                </div>
                        </div>
                        <br>
                        <div *ngIf="!loading" class="row">
                            <div class="col tituloEncuesta">
                                <h3> {{tituloEncuesta}}</h3>
                            </div>
                        </div>               
                    </div>
                </div>
        </div>
                   
    </div>
    <div *ngIf="!loading" class="animated fadeIn">
        <grafico-pregunta class="m-5" *ngFor="let pregunta of preguntasService.preguntas" 
                title="{{pregunta.descripcion}}" 
                idEncuesta="{{pregunta.idEncuesta}}"
                idPregunta="{{pregunta.idPregunta}}"
                [preguntasAgrupables]="preguntasAgrupables">        
            
        </grafico-pregunta>
    </div>
</div>