<div class="container-fluid">       
    <div class="row">     
        <div class="col-md-8">       
            <div class="card">
                <div class="header">
                    <h4 class="title">{{title}}</h4>                        
                </div>     
                <div class="content">                                            
                    <div id="chart_{{idEncuesta}}_{{idPregunta}}" class="ct-chart ct-perfect-fourth"></div> 
                    <div style="display: block">
                        <canvas baseChart
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                      </div> 
                    <div class="footer">
                        <div class="chart-legend" style="width: 100%">
                            <!-- <div *ngFor="let serie of seriesGrafico">
                                <i class="fa fa-circle {{serie.className}}"> </i>{{serie.nombre}}
                            </div>                                                                             -->
                        
                            <hr>
                            <div class="stats" style="width: 100%">
                                <i class="ti-timer"></i>Actualizado: {{ultimaActualizacion | date : 'dd/MM/yyyy HH:mm:ss'}}
                                <div class="pull-right">Respuestas: {{cantidadTotalRespuestas}}</div>                                 
                            </div>
                        </div>
                    
                    
                        <div *ngFor="let agrupada of preguntasAgrupables; let i of index">
                            
                                    <!--<input type="checkbox" [(ngModel)]="preguntaAgrupable.activo" value="{{preguntaAgrupable.id}}"/><label>{{preguntaAgrupable.descripcion}}</label><br/>-->
                                <h4>{{agrupada.descripcion}}</h4>
                                <button (click)="verFiltroPor(preguntasAgrupables,idEncuesta,idPregunta,agrupada.descripcion)">Ver</button>
                            
                             <!-- <div  id="{{agrupada.descripcion}}_{{idEncuesta}}_{{idPregunta}}" style="display: none;">                
                                
                                <table class="table">
                                    <tr>
                                    <div *ngFor="let respuestaPosible of respuestasPosibles">                                                                                
                                        <td>
                                            <label>{{respuestaPosible}}</label>
                                            <div class="col-md-4" id="chart_{{respuestaPosible}}_{{idEncuesta}}_{{idPregunta}}" class="ct-chart ct-perfect-fourth"></div>                                     
                                        </td>
                                    </div>           
                                    </tr>
                                </table>
                            </div>     -->     
                            <br/>
                            
                        </div>                        
                        <div *ngIf="mostrarDetalleAgrupable">
                                <div style="display: block">
                                  <canvas baseChart
                                          [datasets]="barChartData"
                                          [labels]="barChartLabels"
                                          [options]="barChartOptions"
                                          [legend]="barChartLegend"
                                          [chartType]="barChartType"
                                          (chartHover)="chartBarHovered($event)"
                                          (chartClick)="chartBarClicked($event)"></canvas>
                                </div>
                                <button (click)="randomize()">Update</button>
                              </div>
                        
                    </div>
                                
                </div>
            </div>                         
        </div>
    </div>
</div>