<div class="container-fluid">       
    <div class="row">     
        <div class="col-md-8">       
            <div class="card">
                <div class="header">
                    <h4 class="title">Pregunta: {{title}}</h4>                        
                </div>     
                <div class="content">                                            
                    <div id="chart_{{idEncuesta}}_{{idPregunta}}" class="ct-chart ct-perfect-fourth"></div> 
                    <div *ngIf="cantidadTotalRespuestas > 0" style="display: block">
                        <canvas baseChart
                                    [data]="doughnutChartData"
                                    [labels]="doughnutChartLabels"
                                    [chartType]="doughnutChartType"
                                    (chartHover)="chartHovered($event)"
                                    (chartClick)="chartClicked($event)"></canvas>
                      </div>
                      <div *ngIf="cantidadTotalRespuestas == 0" style="display: block" class="text-center">
                        <h3>No se registraron respuestas para esta pregunta.</h3>
                      </div> 
                    <div class="footer">
                        <div class="chart-legend" style="width: 100%">
                            <hr>
                            <div class="stats" style="width: 100%">
                                <i class="ti-timer"></i>Actualizado: {{ultimaActualizacion | date : 'dd/MM/yyyy HH:mm:ss'}}
                                <div class="pull-right">Respuestas: {{cantidadTotalRespuestas}}</div>                                 
                            </div>
                        </div>
                    
                    
                           <div *ngIf="preguntasAgrupables.length > 0">
                                <div class="row m-2" style="width: 100%">
                                    <div class="col-md-4">
                                        <h5>Analizar respuestas por </h5>
                                    </div>
                                    <div class="col-md-2">
                                        <select id="selectorCorte" class="listaCortes btn-primary dropdown-toggle" aria-haspopup="true" aria-expanded="false">                            
                                            <option *ngFor="let agrupada of preguntasAgrupables" (click)="handleChange(item)" value="{{agrupada.descripcion}}" class="dropdown-item" id="selectorCorte">        
                                                    {{agrupada.descripcion}}
                                            </option>
                                        </select>
                                    </div>
                                    <!-- <div class="col-md-6">
                                        <div class="col-md-2">
                                            <select id="selectorTipoCorte" class="listaCortes btn-secondary dropdown-toggle" aria-haspopup="true" aria-expanded="false">                            
                                                <option *ngFor="let tipoFiltro of filtro" value="{{tipoFiltro}}" class="dropdown-item" id="selectorTipoCorte">        
                                                        Prueba datos           
                                                </option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 text-right">
                                        <button class="btn btn-outline-danger" (click)="verFiltroPor(preguntasAgrupables,idEncuesta,idPregunta)">Analizar</button>
                                    </div>
                                </div>
                            </div>  
                                <!-- <ul>
                                    <li *ngFor="let chart of filtro"> -->
                                            <div *ngIf="mostrarDetalleAgrupable">
                                                <div style="display: block">
                                                    <canvas baseChart
                                                        [datasets]="barChartData"
                                                        [labels]="barChartLabels"
                                                        [options]="barChartOptions"
                                                        [legend]="barChartLegend"
                                                        [chartType]="barChartType"
                                                        (chartHover)="chartBarHovered($event)"
                                                        (chartClick)="chartBarClicked($event)">
                                                    </canvas>
                                                </div>
                                            </div>
                                    <!-- </li>
                                </ul>                       -->
                        
                                <!-- <button (click)="randomize()">Update</button> -->
                              
                              <br/>
                              <hr>
                    </div>
                                
                </div>
            </div>                         
        </div>
    </div>
</div>