<div class="row">
    <div class="col-md-1">{{n}}</div>
    <div class="col-md-1"> 
        {{usuario.idUsuario}}
    </div>
    <div class="col-md-2"> 
        {{usuario.nombreUsuario}}
    </div>
    <div class="col-md-2" *ngIf="usuario.fechaAlta != null">{{ usuario.fechaAlta | date : 'dd/MM/yyyy'}}</div>
    <div class="col-md-2" *ngIf="usuario.fechaAlta == null"></div>
    <div class="col-md-2" *ngIf="usuario.ultimaEncuesta != null">{{ usuario.ultimaEncuesta | date : 'dd/MM/yyyy'}}</div>
    <div class="col-md-2" *ngIf="usuario.ultimaEncuesta == null"></div>
    <div class="col-md-1" >{{usuario.encuestasCreadas}}</div>
    <div class="col-md-3"  *ngIf="usuario.encuestasCreadas > 0"><button class="btn btn-default" (click)="toggleGrafico()">Ver</button></div>
</div>
<div>
    <div class="col-md-12" *ngIf="mostrarGrafico">
        <div class="container-fluid">       
            <div class="row">     
                <div class="col-md-10">       
                    <div class="card">
                        <div class="content" style="display: block">
                            <canvas baseChart
                                [datasets]="barChartData"
                                [labels]="barChartLabels"
                                [options]="barChartOptions"
                                [legend]="barChartLegend"
                                [chartType]="barChartType"
                                (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)"></canvas>
                        </div>
                        
                    </div>                                             
                </div>                
            </div>            
        </div>        
    </div>
</div>