<div class="content">
    <div class="container ">
        
            <div class="row">
                <div class="header">
                    <div class="col-md-4"><p class="category">Aqui puede visualizar los usuarios.</p></div>
                    <div class="col-md-2"><a  class="col-sm-2 ti-help-alt" ></a></div>
                    <!-- href="http://nurvey.sytes.net:5000/doku.php?id=misencuestas" target="_blank" -->
                </div>
                <hr>
                <div class="col-md-3">
                    <label for="nombre">Nombre</label>
                    <input  
                    type="text" name="nombre" id="nombre" 
                    (keyup)="buscarUsuarios()" 
                    placeholder="Buscar usuario..." class="form-control">
                    <hr>
                </div>                
            </div>
        
            <div class="row">
        
                <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">#</div>
                            <div class="col-md-1"> 
                                <b>Id</b>
                            </div>
                            <div class="col-md-2"> 
                                <b>Nombre</b>
                            </div>
                            <div class="col-md-2" ><b>Fecha Alta</b></div>
                            <div class="col-md-2" ><b>Ultima Encuesta</b></div>
                            <div class="col-md-1" ><b>Encuestas Creadas</b></div>
                            <div class="col-md-3" ></div>
                        </div>                      
                        <filaUsuario *ngFor="let usuario of usersFiltrados; let i = index;" [usuario]="usuario" i="{{i}}"></filaUsuario>                                            
                </div>
            </div>
            
        </div>
</div>