<div class="home">
    <div class="introduction">
        <h1>Bienvenido a NURVEY, {{ nombreUsuario }}!</h1>
    </div>
    <div *ngIf="!isAdmin">
        <div class="row">
            <div class="col-md-12 text-center">
                    
            
                <div class="card-group">
                    <div class="card" style="width: 18rem;">
                        <i class="fas fa-folder-open fa-7x"></i>
                        <div class="card-body">
                            <div class="row">
                                <h5 class="card-title col-md-11">Encuestas abiertas: <span>{{cantidadEncuestasAbiertas}}</span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <i class="fas fa-eraser fa-7x"></i>
                        <div class="card-body">
                            <h5 class="card-title">Encuestas en borrador: <span>{{cantidadEncuestasBorrador}}</span></h5>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <i class="fas fa-file-alt fa-7x"></i>
                        <div class="card-body">
                            <h5 class="card-title">Total respuestas: <span>{{cantidadRespuestas}}</span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3>Tus últimas encuestas</h3>
                <div class="reglist">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th>Encuesta</th>
                                <th>Última edición</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of encuestas | paginate: { itemsPerPage: 5, currentPage: p }; let i of index;" >
                                <td>{{item.tituloEncuesta}}</td>
                                <td>{{item.fechaEncuesta | date : 'dd/MM/yyyy'}}</td>
                                <td>{{item.estadoEncuesta | uppercase}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-outline-danger" [routerLink]="['/surveyeditor']" > Crear Encuesta</button>
            </div>
        </div>
    </div>
</div>
