<div class="home m-1">
        
            <div class="row">
                <div class="header">
                    <div class="col-md-12">
                        <h5>Aqui puede visualizar sus encuestas <a class="far fa-question-circle fa-2px" href="http://nurvey.sytes.net:5000/doku.php?id=misencuestas" target="_blank"></a></h5>
                    </div>
                </div>
            </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                    <label for="termino">Titulo</label>
                            </div>
                        </div>
                        <div class="row">  
                            <div class="col-md-12">
                                    <input #termino 
                                    type="text" name="termino" 
                                    placeholder="Buscar encuestas..." class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">   
                            <div class="col-md-12">
                                    <label for="estados"> Estados:</label>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col-md-12">
                                    <select [(ngModel)]="encuesta.estadoEncuesta" name="estados" 
                                    class="form-control"
                                    (change)="selectEstado(encuesta.estadoEncuesta)">
                                <option value="">Seleccione un estado</option>
                                <option *ngFor="let estado of estados"
                                    [value]="estado.descripcion">
                                    {{estado.descripcion | uppercase}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="fecha">Fecha Creacion:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <input #fecha type="date" name="fechaEncuesta" id="fechaEncuesta" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
            <br>
            <div class="row">
                <div class="col-md-12 text-left">
                    <button type="button" (click)="buscarEncuestas(termino.value,encuesta.estadoEncuesta,fecha.value)" class="btn btn-outline-primary">
                        Buscar
                    </button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Creación</th>
                                    <th>Estado</th>
                                    <th>Duplicar</th>
                                    <th>Archivar</th>
                                    <th>Analizar</th>
                                    <th>Compartir</th>
                                    <th>Vista</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let encuesta of encuestas; let i = index;">
                                    <td>{{ i + 1 }}</td>
                                    <td> 
                                        <div class="col-sm-10"> {{encuesta.idEncuesta}} </div>
                                    </td>
                                    <td> 
                                        <div class="col-sm-10" > {{encuesta.tituloEncuesta}} </div>
                                    </td>
                                    <td>{{encuesta.fechaEncuesta | date : 'dd/MM/yyyy'}}</td>
                                    <td>{{encuesta.estadoEncuesta | uppercase}}</td>
                                    <td>
                                        <div class="col-sm-1" (click)="clonarEncuesta(encuesta.idEncuesta)" class="ti-files" item-height="50px" item-width="50px"> </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-1" (click)="archivarEncuesta(encuesta.idEncuesta)"  class="ti-trash" item-height="50px" item-width="50px"> </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-1"  (click)="verEstadisticas(encuesta.idEncuesta)" class="ti-stats-up" item-height="50px" item-width="50px"> </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-1"  (click)="responderEncuesta(encuesta.idEncuesta)" class="ti-sharethis" item-height="50px" item-width="50px"> </div>
                                    </td>
                                    <td>
                                        <div class="col-sm-1" [routerLink]="['/vistaprevia',encuesta.idEncuesta]" class="far fa-eye" item-height="50px" item-width="50px"> </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <app-alert *ngIf="encuestas.length === 0" [mensaje]="mensajeAlert" [estilo]="estiloAlert" class="m-5"></app-alert>
                    </div>
                </div>
            </div>
            <span class="col-sm-12 text-center"><app-loading *ngIf="loading"></app-loading></span>
            <div class="col-sm-8" *ngIf="encuestaActiva">
                    <div class="survey-container contentcontainer codecontainer panel svd_content" id="surveyElement"> 
                        <div id="surveyResult">
                        </div>
                    </div>
                </div>
        </div>