<div class="container">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-4 col-md-5">
                            
                <div class="card card-user">
                    <div class="image">
                        <img src="assets/showcase/images/background.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                          <img class="avatar border-white" src="assets/showcase/images/face-2.jpg" alt="..."/>
                          <h4 class="title">{{currentUser.nombreUsuario}}<br />
                             <a href="#"><small>{{currentUser.emailUsuario}}</small></a>
                          </h4>
                        </div>
                    </div>
                    <hr>
                </div>


            </div>
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-4"><h4 class="title">Editar el Perfil<span ><a  class="col-sm-2 far fa-question-circle fa-2px text-left" href="http://nurvey.sytes.net:5000/doku.php?id=perfil" target="_blank"></a></span></h4></div>
                        </div>            
                    </div>
                    <div class="content">
                        <form name="form" (ngSubmit)="f.form.valid && actualizar()" #f="ngForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Nombre y apellido</label>
                                        <input value="{{currentUser.nombreUsuario}}" name="nombreUsuario" type="text" class="form-control border-input" 
                                        [(ngModel)]="model.nombreUsuario" placeholder="Nombre y Apellido">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control border-input"
                                        name="emailUsuario" [(ngModel)]="model.emailUsuario" placeholder="Email" value="{{currentUser.emailUsuario}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6 text-left">
                                        <button (click)="actualizar()" class="btn btn-info btn-fill btn-wd">Actualizar Perfil</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="['/password']">Cambiar Contraseña</button>
                                    </div>
                                <!-- <div class="text-center"></div> -->
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
