<div class="col-lg-8 col-md-7">
        <div class="card">
            <div class="header">
                <h4 class="title">Cambiar Contraseña</h4>
            </div>
            <div class="content">
                 <form name="form" (ngSubmit)="f.form.valid && actualizar()" #f="ngForm" novalidate>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group" [ngClass]="{ 'has-error': (!password1.valid && password1.touched), 'has-success': (password1.valid && password1.touched)}">
                                <label for="exampleInputPrevia">Contraseña Antigua</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>  
                            <input [formControl]="password1" type="password" class="form-control" 
                            placeholder="Contraseña" name="passwordUsuario1" [(ngModel)]="model.passwordUsuario1" required />
                            </div>  
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Contraseña requerida</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" [ngClass]="{ 'has-error': (!password.valid && password.touched), 'has-success': (password.valid && password.touched)}">
                                <label for="exampleInputRepeat">Nueva Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>  
                            <input [formControl]="password" type="password" class="form-control" 
                            placeholder="Nueva Contraseña" name="passwordUsuario" [(ngModel)]="model.passwordUsuario" required />
                            </div>  
                                <div *ngIf="f.submitted && !password.valid" class="help-block">Contraseña requerida</div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group" [ngClass]="{'has-error': (!repeatPassword.valid && repeatPassword.touched), 'has-success': (repeatPassword.valid && repeatPassword.touched)}">
                                <label for="exampleInputRepeat">Repetir Contraseña</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input [formControl]="repeatPassword" type="password" class="form-control" id="inputPassword4" placeholder="Repetir Contraseña" required />
                                </div>
                                <span *ngIf="!passwords.valid && (password.touched || repeatPassword.touched)" class="help-block sub-little-text">Contraseñas no coincidentes.</span>
                            </div>
                            </div>
                        </div>
                    <div>
                        <button (click)="actualizar()" class="btn btn-info btn-fill btn-wd">Cambiar Contraseña</button>
                        <!-- <button type="submit" class="btn btn-info btn-fill btn-wd" [routerLink]="['/password']">Cambiar Contraseña</button> -->
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <app-toast *ngIf="muestraMensajeToast" [mensaje]="mensajeToast"></app-toast>
        </div>
    </div>