.content {
    padding: 15px 15px 10px 15px;
}

.input-group-addon {
    margin-right: 8px;
    padding-top: 5px;
}

h4 {
    margin-left: 15px;
    margin-top: 15px;
}

input.ng-touched.ng-invalid {
    border-color: red
  }
input.ng-touched.ng-valid {
    border-color:lightgreen;
}
.ng-star-inserted{
    color:red;
    margin-left: 25px;
}