 .sidebar .sidebar-wrapper {
     visibility: hidden;
 }

 .m-3 {
    margin: 25px auto 0 !important;
    line-height: 1.6em;
    max-width: 80%;
    color: #6d7072;
    background-color: white;
    padding: 1em 1em 5em 1em;
}

 label.sv_q_rating_item {
    border-radius: 2px;
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1em;
    min-width: 6em;
    font-weight: bold;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}