.layout-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

#layout-topbar {
    background-color: #efefef;
}

a {
    text-decoration: none;
}

#layout-sidebar .layout-menu > div a {
    width: 100%;
    padding: .75rem 6.25rem;
    font-size: 16px;
}

#layout-sidebar .layout-menu > div {
    padding: 0;
}

.logo{
    width: 100%;
    height: auto;
}