<div class="layout-wrapper">
    <div id="layout-topbar">
        <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
            <i class="fa fa-bars"></i>
        </a>
        <navbar-cmp [currentUser]="currentUser"></navbar-cmp>
    </div>

    <div id="layout-sidebar" [ngClass]="{'active': menuActive}">
        <div class="layout-menu" *ngIf="loggedIn && !isAdmin">
            
            <!-- seccion perfil usuario -->

                <a id="menu_usuario" #usermenutitle [class.active-menuitem]="usermenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === usermenutitle.id ? null : usermenutitle.id)">
                    <span class="layout-menu-icon-active ti-user">Perfil de Usuario</span>                    
                    
                </a>
                <div [ngClass]="{submenushow: (usermenutitle.id == activeMenuId), 'submenuhide': (usermenutitle.id != activeMenuId)}">
                    <a [routerLink]="['/user']" (click)="menuActive = false">&#9679; Mis Datos</a>
                    <a [routerLink]="['/misencuestas']" (click)="menuActive = false">&#9679; Mis Encuestas</a>
                    <a [routerLink]="['/dashboard']" (click)="menuActive = false">&#9679; Mis Estadisticas</a>
                </div> 

            <!-- seccion editor -->

            <a id="menu_editor" #editormenutitle [class.active-menuitem]="editormenutitle.id == activeEditor" (click)="activeEditor = (activeEditor === editormenutitle.id ? null : editormenutitle.id)">
                    <span class="layout-menu-icon-active ti-pencil-alt">Editor</span>  
            </a>
            <div [ngClass]="{submenushow: (editormenutitle.id == activeEditor), 'submenuhide': (editormenutitle.id != activeEditor)}">
                <a [routerLink]="['/surveyeditor']" (click)="menuActive = false">&#9679; SurveyEditor</a>
            </div>
        </div>
        <div class="layout-menu" *ngIf="loggedIn && isAdmin">
            
            <!-- seccion perfil usuario -->

                <a id="menu_usuario" #usermenutitle [class.active-menuitem]="usermenutitle.id == activeMenuId" (click)="activeMenuId = (activeMenuId === usermenutitle.id ? null : usermenutitle.id)">
                    <span class="layout-menu-icon-active ti-user">Adm</span>                    
                    
                </a>
                <div [ngClass]="{submenushow: (usermenutitle.id == activeMenuId), 'submenuhide': (usermenutitle.id != activeMenuId)}">
                    <a [routerLink]="['/user']" (click)="menuActive = false">&#9679; Mis Datos</a>
                </div> 
        </div>
    </div> 

    <div class="layout-mask" *ngIf="menuActive">
    </div>

    <div id="layout-content">
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>