.container {
	background: linear-gradient(rgba(0,0,0,.85),rgba(0,0,0,.85)), 
	url(assets/showcase/images/online-survey.jpg);
	max-width: none;
	height: 600px;
	background-size: cover;
}

img.logo-home-login {
	width: 100%;
}

.login-container {
	background-color: #f5f7f8;
    border: 0 none;
    border-radius: 3px;
    font-weight: 300;
    line-height: 1.6em;
	margin-bottom: 50px;
	padding: 0 15px;
	max-width: 95%;
}

.about-login {
	margin-top: 12px;
	padding: 0 30px;
}

.panel-heading {
    padding: 20px 15px;
}

.panel-footer {
	padding: 1px 7px;
	color: #A0A0A0;
	text-align: left;
	background-color: initial;
	font-size: 11px;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.register-link {
	color: blue;
}

.fb-login-button {
	margin-left: 35px;
}

.login-google {
	display: inline-block;
	width: 100%;
	position: relative;
	top: 9px;
	text-align: center;
}

button#googleBtn {
    background: none;
    border-style: none;
}

.div-or {
    flex: none;
    max-width: 100%;
}

.omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: #f5f7f8;
	width: 3em;
	text-align: center;
}

.col-md-1.icon {
	padding: 5px 0 0;
    width: 10%;
}

.col-md-11.input {
	width: 87%;
	padding: 0;
}

.description {
    margin: 35px 0;
}

.title-home {
	color: #1c85ba;
	font-size: 26px;
}

.subtitle-home {
	color: #fff;
	font-size: 20px;
}

/* Style Large */
@media (min-width: 768px) {
    .login-container {
		padding: 0 30px;
		max-width: 45%;
		margin-top: 55px;
	}

	.about-login {
		margin-top: 39px;
	}

	img.logo-home-login {
		width: 65%;
	}
}

@media (min-height: 800px) {
	.container {
		height: 950px;
		padding: 100px;
	}
}