/* You can add global styles to this file, and also import other style files */
/* @import 'assets/showcase/css/primeng.css'; */
@import 'assets/showcase/css/code.css';
@import 'assets/showcase/css/site.css';
@import 'assets/showcase/css/themify-icons.css';

/* body {
    position: relative;
    padding-bottom: 6rem;
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
}
*/
button.btn.btn-primary {
    margin-bottom: 10px;
}

.col-lg-3 {
    width: 0;
}

.col-lg-7 {
    width: 80%;
}

.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .empty-message {
   line-height: 1.42857143;
}

@media (max-width: 64em) {
    #layout-topbar .logo {
        display: none;
    }
    .navbar-right {
        float: right;
    }
    #layout-content {
        padding-top: 0;
    }
    #layout-sidebar {
        top: 70px;
    }
} 

/* Loading CSS */
.loader-container {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
  }
  
  .loader,
  .loader:before,
  .loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
  }
  
  .loader {
	color: #9A9A9A;
	top: calc(50% - 40px);
	left: calc(50% - 10px);
	position: relative;
	font-size: 10px;
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  .loader:before,
  .loader:after {
	content: '';
	position: absolute;
	top: 0;
  }
  
  .loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .loader:after {
	left: 3.5em;
  }

  /* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #0062cc;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #0254ac;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #2e6079;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #0062cc;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #1e86f5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #0062cc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #0062cc;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    Respuesta styles
----------------------------------------------------- */
h5 span {
    font-weight: bold;
}

.sv_row {
    margin-bottom: 15px;
    padding: 15px;
}

.sv_nav {
    margin-top: 25px;
}

.sv_row:nth-child(odd) {
    background-color: #f4f4f4;
}

.sv_row:nth-child(even) {
    background-color: #fff;
}

.sv_q_erbox {
    color: red;
}

.sv_complete_btn {
    width: 10%;
    height: 50px;
}

/* Texto simple */
.sv_q_text_root {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Checkbox y Radio */
fieldset.sv_qcbc.sv_qcbx {
    margin-left: 10px;
    font-size: 17px;
}

.sv_qstn fieldset.sv_qcbc {
    margin-left: 10px;
    font-size: 17px;
}

.sv_q_radiogroup_control_item {
    margin: 0;
    margin-right: 0.55em;
    width: 1em;
    height: 1.2em;
    vertical-align: middle;
    font-size: 1em;
    margin-top: -0.1em;
}

.sv_q_checkbox_control_item {
    margin: 0;
    margin-right: 0.55em;
    width: 1em;
    height: 1.2em;
    vertical-align: middle;
    font-size: 1em;
    margin-top: -0.1em;
}

/* Dropdown */
.sv_q_dropdown_control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Rating */
label.sv_q_rating_item {
    border-radius: 2px;
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1em;
    min-width: 6em;
    font-weight: bold;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    cursor: pointer;
    text-align: center;
}

label.sv_q_rating_item.active {
    background-color: #33373c;
    border-color: #4e555b;
}