/* You can add global styles to this file, and also import other style files */
/* @import 'assets/showcase/css/primeng.css'; */
@import 'assets/showcase/css/code.css';
@import 'assets/showcase/css/site.css';
@import 'assets/showcase/css/themify-icons.css';

body {
    position: relative;
    padding-bottom: 6rem;
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

button.btn.btn-primary {
    margin-bottom: 10px;
}

.col-lg-3 {
    width: 0;
}

.col-lg-7 {
    width: 80%;
}

.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .empty-message {
   line-height: 1.42857143;
}

@media (max-width: 64em) {
    #layout-topbar .logo {
        display: none;
    }
    .navbar-right {
        float: right;
    }
    #layout-content {
        padding-top: 0;
    }
    #layout-sidebar {
        top: 70px;
    }
}

/* Loading CSS */
.loader-container {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
  }
  
  .loader,
  .loader:before,
  .loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation: load7 1.8s infinite ease-in-out;
	animation: load7 1.8s infinite ease-in-out;
  }
  
  .loader {
	color: #9A9A9A;
	top: calc(50% - 40px);
	left: calc(50% - 10px);
	position: relative;
	font-size: 10px;
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
  }
  
  .loader:before,
  .loader:after {
	content: '';
	position: absolute;
	top: 0;
  }
  
  .loader:before {
	left: -3.5em;
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
  }
  
  .loader:after {
	left: 3.5em;
  }

  /* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}