/* You can add global styles to this file, and also import other style files */
/* @import 'assets/showcase/css/primeng.css'; */
@import 'assets/showcase/css/code.css';
@import 'assets/showcase/css/site.css';
@import 'assets/showcase/css/themify-icons.css';

body {
    position: relative;
    padding-bottom: 6rem;
    font-family: 'Muli', "Helvetica", Arial, sans-serif;
}

@media (max-width: 64em) {
    #layout-topbar .logo {
        display: none;
    }
    .navbar-right {
        float: right;
    }
    #layout-content {
        padding-top: 0;
    }
    #layout-sidebar {
        top: 70px;
    }
}